Repository LQR86/blazor-gantt-components, changes with the labels that .github/labeler.yml gives for each.
All labels: component: TaskGrid, component: TimelineView, component: GanttComposer, type: model, type: service, type: page, type: style, type: test, area: documentation, area: ci/cd, area: configuration, phase: 1.1, phase: 1.2, phase: 1.3, priority: high, priority: medium, size: small, size: large

.github/labeler.yml:

# Automatic PR labeling configuration
# Labels PRs based on which files are changed

# Components
'component: TaskGrid':
  - 'Components/TaskGrid/**/*'
  - '**/*TaskGrid*'

'component: TimelineView':
  - 'Components/TimelineView/**/*'
  - '**/*TimelineView*'

'component: GanttComposer':
  - 'Components/GanttComposer/**/*'
  - '**/*GanttComposer*'

# File types
'type: model':
  - 'Models/**/*'

'type: service':
  - 'Services/**/*'

'type: page':
  - 'Pages/**/*'

'type: style':
  - '**/*.css'
  - '**/*.scss'

'type: test':
  - '**/*Test*'
  - '**/*Tests*'
  - '**/test/**/*'
  - '**/tests/**/*'

# Areas
'area: documentation':
  - '*.md'
  - 'docs/**/*'
  - '.github/**/*.md'

'area: ci/cd':
  - '.github/workflows/**/*'
  - '.github/dependabot.yml'

'area: configuration':
  - '*.json'
  - '*.xml'
  - '*.config'
  - '*.settings'

# Phases (based on development plan)
'phase: 1.1':
  - 'Components/TaskGrid/**/*'
  - 'Models/**/*'
  - 'Services/GanttRowAlignmentService.cs'

'phase: 1.2':
  - 'Components/TimelineView/**/*'

'phase: 1.3':
  - 'Components/GanttComposer/**/*'

# Priority
'priority: high':
  - 'Program.cs'
  - 'Startup.cs'
  - '**/*Security*'

'priority: medium':
  - 'Pages/**/*'
  - 'Components/**/*'

# Size indicators
'size: small':
  - '*.md'
  - '**/*.css'

'size: large':
  - 'Components/**/*'
  - 'Services/**/*'

Add GitHub setup guide and repository configuration instructions
  GITHUB_SETUP.md
Labels: area: documentation, size: small

Add comprehensive REQUIREMENTS.md - Immutable project constraints
  REQUIREMENTS.md
Labels: area: documentation, size: small

docs: Add comprehensive Git workflow and GitHub Actions guides
  .github/copilot-instructions.md
  GITHUB_SETUP.md
  GIT_GITHUB_GUIDE.md
  GIT_VERSION_CONTROL_GUIDE.md
  Setting_Up_Branch_Protection_&_PR_Workflow_for_Solo_Development.MD
Labels: area: documentation, size: small

chore: Add TEMP_FILES/ to .gitignore
  .gitignore
Labels: none

docs: Add security considerations for branch protection administrator rules
  Setting_Up_Branch_Protection_&_PR_Workflow_for_Solo_Development.MD
Labels: none

docs: Enhance safety warnings for destructive Git commands
  GIT_VERSION_CONTROL_GUIDE.md
Labels: area: documentation, size: small

fix: Update upload-artifact action from v3 to v4
  .github/workflows/ci-cd.yml
  .github/workflows/performance.yml
Labels: area: ci/cd

fix: Configure Lighthouse CI for Blazor Server apps
  .github/workflows/performance.yml
  lighthouserc.js
Labels: area: ci/cd

feat: Add WBS codes requirement for user-facing task identification
  REQUIREMENTS.md
Labels: area: documentation, size: small

fix: Resolve performance workflow port conflicts and process management
  .github/workflows/performance.yml
  lighthouserc.js
Labels: area: ci/cd

docs: add GitHub Actions quota management guide
  GITHUB_ACTIONS_QUOTA_MANAGEMENT.md
Labels: area: documentation, size: small

build: update GitHub workflows to .NET 8.0
  .github/workflows/ci-cd.yml
  .github/workflows/feature-development.yml
  .github/workflows/performance.yml
  .github/workflows/security.yml
Labels: area: ci/cd

feat: enhance requirements with critical enterprise features
  REQUIREMENTS.md
Labels: area: documentation, size: small

docs: fix minor formatting in version control guide
  GIT_VERSION_CONTROL_GUIDE.md
Labels: area: documentation, size: small

docs: remove redundant Git/GitHub documentation files
  GITHUB_ACTIONS_QUOTA_MANAGEMENT.md
  GITHUB_SETUP.md
  GIT_GITHUB_GUIDE.md
  GIT_VERSION_CONTROL_GUIDE.md
Labels: area: documentation, size: small

docs: add strategic framework for requirements vs implementation
  REQUIREMENTS_VS_IMPLEMENTATION_STRATEGY.md
Labels: area: documentation, size: small

feat: replace basic implementation plan with requirements-compliant experimental guide
  Implementation_Plan_And_Milestones_EXPERIMENTAL.md
  basic_gantt_plan.md
Labels: area: documentation, size: small

fix: update target framework to .NET 8.0 (REQUIREMENT 18)
  GanttComponents.csproj
Labels: none

fix: update GitHub Actions to latest versions
  .github/workflows/ci-cd.yml
  .github/workflows/feature-development.yml
  .github/workflows/security.yml
Labels: area: ci/cd

fix: performance test port configuration
  .github/workflows/performance.yml
Labels: area: ci/cd
